<component name="ArtifactManager">
  <artifact type="war" name="springLearning:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="mySpringLearning.war">
      <element id="artifact" artifact-name="springLearning:war exploded" />
    </root>
  </artifact>
</component>